
.sub-mvng-frwrd{
    /* border: 1px solid blue; */

    width: 100%;
    /* height: 40%; */
    position: relative;

}

.sub-mvng-frwrd-A{
    /* border: 1px solid pink; */

    text-align: center;
    width: 74%;
    margin: 81px auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 13%;

    position: relative;
    top: -16rem;
}

.windowA{
    /* border: 1px solid red; */

    padding: 0 20px 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background: linear-gradient(0deg, #fff, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.windowA img{
    margin: 1rem 0;
}

.windowA p{
    font-size: 1rem;
    margin: 1rem 0;
    display: block;
    text-align: center;
    font-weight: 500;
    color: #525252;
}

.windowA span{
    text-align: left;
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5;
}

.arrow-right{
    /* height: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 20px;
}


@media screen and (max-width: 1300px) {
    .sub-mvng-frwrd-A{
        /* border: 1px solid pink; */
    
        position: relative;
        top: -11.5rem;
    }
}

@media screen and (max-width: 960px) {
    .sub-mvng-frwrd-A{
        position: relative;
        top: -11.5rem;
    }
}

@media screen and (max-width:768px) {
    .sub-mvng-frwrd-A{
        /* border: 1px solid pink; */
    
        margin: 0 auto;
        flex-direction: column;
    
        position: relative;
        top: 0;
    }

    .arrow-right{
        visibility: hidden;
    }
}
