*{
    margin:0;
    padding:0;
}

.header{
    /* border: 2px solid black; */

    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
    box-shadow: 0 4px 20px rgba(201, 206, 213, 0.25);
}

.sub-header{
    /* border: 1px solid red; */

    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo{
    /* border: 1px solid blue; */
    width: 6rem;
}

.sub-header-A{
    /* border: 1px solid blue; */

    /* width: 90%; */
    /* height: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
}

.navbar{
    /* border: 1px solid green; */

    /* width: 18%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navbar a{
    text-decoration: none;
    font-weight: 500;
    color: #212529;
    margin: 0 1rem;
}

.navbar a:first-child{
    color: #2d8dfc;
}

.navbar a:nth-child(2){
    display: flex;
}

.navbar a:hover{
    color: #2d8dfc;
}

.fa-angle-down, .fa-caret-down{
    padding-left: 0.5rem;
}

.language-select{
    width: 5%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-transform: capitalize;
    margin-right: 7rem;
    margin-left: 1rem;
}

.language-icon{
    width: 1.3rem;
    padding-right: 0.4rem;
}

.free-btn{
    text-align: center;
    width: 11rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 1rem; */
}

.free-btn a{
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 2.5rem;
    background: #2d8dfc;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

                /* large desktop */
/* @media screen and (max-width: 1440px) and (min-width: 1200px){
    .navbar{
        width: 25%;

    }

    .language-select{
        width: 7%;
    }
} */


            /* desktop */
/* @media screen and (max-width: 1200px) and (min-width: 1024px){
    .sub-header-A{
        font-size: 1rem;
    }

    .navbar{
        width: 30%;
    }

    .language-select{
        width: 9%;
    }
} */


        /* laptop */
@media screen and (max-width: 900px) and (min-width: 768px){
    .navbar, .language-select{
        display: none;
    }
}

        /* tablet */
@media screen and (max-width: 768px) and (min-width:480px){
    .navbar, .language-select{
        display: none;
    }
}
            /* phones */
@media screen and (max-width: 480px){
    .navbar, .language-select{
        display: none;
    }
} 